{% include 'header.html.twig' %}

<main role="main" class="container">

    <div class="alert alert-danger" role="alert">
        Страница не найдена!
    </div>

</main><!-- /.container -->



{% include 'footer.html.twig' %}