{% include 'header.html.twig' %}

<main role="main" class="container">


    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

    {% if result %}
    <div class="alert alert-success" role="alert">
        {{ result }}
    </div>
    {% endif %}

</main><!-- /.container -->



{% include 'footer.html.twig' %}