 {% include 'header.html.twig' %}

 <main role="main" class="container">


     <form method="post">
         <div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
             <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
         </div>
         <div class="form-group">
             <label for="exampleInputName1">Name</label>
             <input type="text" class="form-control" id="exampleInputName1" name="name">
         </div>
         <div class="form-group">
             <label for="exampleFormControlTextarea1">Example textarea</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
         </div>

         <button type="submit" class="btn btn-primary">Add</button>
     </form>

 </main><!-- /.container -->



 {% include 'footer.html.twig' %}