{% include 'header.html.twig' %}

<main role="main" class="container">

    <div class="starter-template">
        <div class=" navbar-collapse">
            <div class="btn-group">
            <form method="get">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортировать по: ({% if sort %} {{ sort }} {% else %} Id{% endif %})
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" ><button type="submit" name="sort" value="id" class="btn">Id</button></a>
                        <a class="dropdown-item" ><button type="submit" name="sort" value="name" class="btn">Имени</button></a>
                        <a class="dropdown-item" ><button type="submit" name="sort" value="email" class="btn">Email</button></a>
                        <a class="dropdown-item" ><button type="submit" name="sort" value="status" class="btn">Статус</button></a>
                    </div>
                </div>
            </form>
            </div>
            <div class="btn-group">
            <form method="get">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортировать по: ({% if sort_modifier %} {{ sort_modifier }} {% else %} Id{% endif %})
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" ><button type="submit" name="sort_modifier" value="DESC" class="btn">Возрастанию</button></a>
                        <a class="dropdown-item" ><button type="submit" name="sort_modifier" value="ASC" class="btn">Убыванию</button></a>

                    </div>
                </div>
            </form>
            </div>
        </div>
        <hr />
        {% for task in tasks %}

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if task.status %}
                        <h5 class="card-title p-3 mb-2 bg-success text-white"> {{ task.name }} (done!)</h5>
                    {% else %}
                         <h5 class="card-title"> {{ task.name }}</h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.email }}</h6>
                    <p class="card-text">{{ task.text }}</p>
                    {% if user %}
                        <a href="/admin/task/{{ task.id }}" class="card-link">Edit</a>
                    {% endif %}

                    {% if task.changed %}
                        <p>Изменен Админом</p>
                    {% endif %}

                </div>
            </div>
            <div> <br> </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if pagination.previous > 0 %}
                    <li class="page-item"><a class="page-link" href="/list/{{ pagination.previous }}">Previous</a></li>
                {% endif %}

                {% for page in pagination.pages %}
                    <li class="page-item"><a class="page-link" href="/list/{{ page }}">{{ page }}</a></li>
                {% endfor %}

                {% if pagination.next > 0 %}
                    <li class="page-item"><a class="page-link" href="/list/{{ pagination.next }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

</main><!-- /.container -->



{% include 'footer.html.twig' %}