{% include 'header.html.twig' %}

<main role="main" class="container">
    {% if task %}
        <p>id :{{ task.id }} </p>
        <p>name :{{ task.name }} </p>
        <p>email :{{ task.email }} </p>
        <p>text :{{ task.text }} </p>
    {% endif %}


</main><!-- /.container -->



{% include 'footer.html.twig' %}