{% include 'header.html.twig' %}

<main role="main" class="container">
    <form method="post" action="/admin/login/">
        <div class="form-group">
            <label for="exampleInputLogin1">Login</label>
            <input name="login" type="text" class="form-control" id="exampleInputLogin1" aria-describedby="LoginHelp" placeholder="Enter login">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</main><!-- /.container -->



{% include 'footer.html.twig' %}