 {% include 'header.html.twig' %}

 <main role="main" class="container">


     <form method="post">
         <div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
             <input  value="{{ task.email }}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
         </div>
         <div class="form-group">
             <label for="exampleInputName1">Name</label>
             <input value="{{ task.name }}" type="text" class="form-control" id="exampleInputName1" name="name">
         </div>
         <div class="form-group">
             <label for="exampleFormControlTextarea1">Example textarea</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text">{{ task.text }}</textarea>
         </div>
         <div class="form-group form-check">
             <input name="status" type="checkbox" class="form-check-input" id="exampleCheck1"
                    {% if task.status %}
                            checked
                     {% endif %}
                    >
             <label  class="form-check-label" for="exampleCheck1">Done</label>
         </div>

         <button type="submit" class="btn btn-primary">Update</button>
     </form>

 </main><!-- /.container -->



 {% include 'footer.html.twig' %}